body {
	background-image: url('images/background.jpg');
    background-size: 100%;
}

.app {
    min-width: 500pt;
	/*min-height: 1000pt;*/
	background: #FFFD;
	padding: 10px;
	border-radius: 5px;
}

.title {
	background-color: rgba(86, 60, 159, 0.40);
	margin-bottom: 5pt;
	padding-left: 5pt;
	border-radius: 5px;
}

.dynamic-title {
    font-size: 30px;
	color: #FFFFFF;
}

.dynamic-publish-time {
	display: flex;
	flex-flow: row;
	flex-direction: row-reverse;
    font-size: 10px;
	color: #FFFFFF;
	padding-right: 5pt;
}

.dynamic-desc-text {
	padding: 10pt 20pt 0 20pt;
    white-space: pre-line;
	line-height: 1.8em;
	font-size: 15px;
	font-family: Kai;
}

div#dynamicHrefWrap {
	margin: 10pt 20pt 0 20pt;
	font-size: 16px;
}

div#dynamicImages {
	padding-left: 40pt;
	padding-top: 10pt;
    margin: 5pt 10pt 5pt 0pt;
    flex-direction: row;
    display: flex;
    cursor: pointer;
	image-rendering: -webkit-optimize-contrast;
}

.dynamic-images {
    width: 100pt;
    height: 60pt;
	margin-right: 10pt;
}

.dynamic-images:hover {
    width: 500px;
    height: 333px;
}