body {
	background-image: url('images/search_background.jpeg');
    background-size: 100%;
}

.app {
    min-width: 500pt;
	min-height: 1000pt;
	background: #FFFD;
	padding: 10px;
	border-radius: 5px;
}

.dynamic-title {
    font-size: 30px;
}

.dynamic-publish-time {
	display: flex;
	flex-flow: row;
	flex-direction: row-reverse;
    font-size: 10px;
}

.dynamic-desc-text {
	padding: 20pt 20pt 0 40pt;
    white-space: pre-line;
	line-height: 1.8em;
	font-size: 16px;
}

div#dynamicHrefWrap {
	margin: 10pt 20pt 0 40pt;
	font-size: 16px;
}

div#dynamicImages {
	padding-left: 40pt;
	padding-top: 10pt;
    margin: 5pt 10pt 5pt 0pt;
    flex-direction: row;
    display: flex;
    cursor: pointer;
	image-rendering: -webkit-optimize-contrast;
}

.dynamic-images {
    width: 100pt;
    height: 60pt;
	margin-right: 10pt;
}

.dynamic-images:hover {
    width: 540pt;
    height: 260pt;
}